---
layout: default
title: Gemeinschaft
description: Gemeinschaft VoIP Telefonanlage
---

<div class="content">
  <h2 class="content-head is-center">Gemeinschaft</h2>

  <div class="pure-g">
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
      <h3 class="content-subhead">Gemeinschaft PBX (Telefonanlage)</h3>
      <p>
        2008 veröffentlichten wir die erste Version von Gemeinschaft. Seit dem Gemeinschaft die in Deutschland am häufigsten eingesetzte Open-Source Telefonanlage für mehr als 10 User.
      </p>
      <p>
        Wir haben 2014 das Projekt an die Community abgegeben und bieten keinen Support mehr für Gemeinschaft an. Hier ist eine Liste der Mailinglisten und der Github Repositories. Das Projekt lebt weiterhin.
      </p>
      <ul>

        <li>Gemeinschaft 5.x
          <ul>
            <li><a href="http://groups.google.com/group/gs5-users">http://groups.google.com/group/gs5-users</a></li>
            <li><a href="https://github.com/amooma/GS5/wiki">GS5 Wiki</a></li>
            <li><a href="https://github.com/amooma/GS5">https://github.com/amooma/GS5</a></li>
          </ul>
        </li>
        <li>
          Gemeinschaft 4.0
          <ul>
            <li><a href="http://groups.google.com/group/gs4-users">http://groups.google.com/group/gs4-users</a></li>
            <li><a href="https://github.com/amooma/GS4">https://github.com/amooma/GS4</a></li>
          </ul>
        </li>
        <li>
          Gemeinschaft 3.x
          <ul>
            <li><a href="http://groups.google.com/group/gs3-users">http://groups.google.com/group/gs3-users</a></li>
            <li><a href="https://github.com/amooma/GS3">https://github.com/amooma/GS3</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
      <h3 class="content-subhead">
        <svg class="icon icon-feed" viewBox="0 0 32 32"><use xlink:href="#icon-feed"></use></svg>
        Blog
      </h3>
      <ul class="post-list">
        {% for post in site.posts limit:3 %}
          <li>
            <span class="post-meta"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</span></a>
            <br />
            {% for tag in post.tags %}
              <a class="post-category post-category-{{ tag }}" href="#">{{ tag }}</a>
            {% endfor %}
            <br />
            <small>{{ post.abstract }}</small>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
      <ul class="post-list">
        {% for post in site.posts limit:3 offset:3 %}
          <li>
            <span class="post-meta"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</span></a>
            <br />
            {% for tag in post.tags %}
              <a class="post-category post-category-{{ tag }}" href="#">{{ tag }}</a>
            {% endfor %}
            <br />
            <small>{{ post.abstract }}</small>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
