<div class="content list">

  <div class="title">
    <div></div>
    <p><span>Artikel in Fachzeitschriften</span></p>
  </div>

  {% for article in site.data.articles %}
    <div class="item">
      <div class="columns">
        <div class="column publication">
          <p><a href="{{ article.publication_url }}">{{ article.publication }}</a></p>
        </div>

        <div class="column publisher">
          <p>{{ article.publisher }}</p>
        </div>

        <div class="column issue_number">
          <p>{{ article.issue_number }}</p>
        </div>

        <div class="column title">
          <p>{{ article.title }}</p>
        </div>

        <div class="column link">
          {% if article.pdf_url %}
            <a href="{{ article.pdf_url }}">PDF Download</a>
          {% elsif article.article_url %}
            <a href="{{ article.article_url }}">HTML Version</a>
          {% endif %}
        </div>
      </div>
      <div class="clear"></div>
    </div>
  {% endfor %}
</div>
