<div class="column-3-1">
  <p>
    Eine Preisliste muss klar und einfach sein. Und sie darf  kein Geheimnis sein.
  </p>
</div>

<div class="column-3-2">
  <table>
    <thead>
      <tr>
        <th>Beschreibung</th>
        <th>
          <nobr>Netto-Preis</nobr>
        </th>
      </tr>
    </thead>
    <tbody>
  <tr>
    <td>Eine Stunde</td>
    <td align='right'>
      <nobr>190 Euro</nobr>
    </td>
  </tr>
  <tr>
    <td>Ein Personentag</td>
    <td align='right'>
      <nobr>1.200 Euro</nobr>
    </td>
  </tr>
    </tbody>
  </table>
</div>
