<div class="column-3-1">
  <p>
    Eine Preisliste muss klar und einfach sein. Und sie darf kein Geheimnis sein.
  </p>
</div>

<div class="column-3-2">
  <div class="price-table">
    <div class="row">
      <div class="left"><p class="header">Beschreibung</p></div>
      <div class="right"><p class="header">Netto-Preis</p></div>
    </div>
    <div class="row item">
      <div class="left"><p>Eine Stunde</p></div>
      <div class="right"><p>190 Euro</p></div>
    </div>
    <div class="row item">
      <div class="left"><p>Ein Personentag</p></div>
      <div class="right"><p>980 Euro</p></div>
    </div>
  </div>
</div>
