<div class="content list">

  <div class="title title-margin">
    <div></div>
    <p><span>Bücher</span></p>
  </div>

  {% for book in site.data.books %}

  <div class="item">
    <div class="columns">
      <div class="column name">
        <p><a href="{{ book.book_url }}">{{ book.title }}</a></p>
      </div>

      <div class="column conference">
        <p><a href="{{ book.amazon_url }}">Bei Amazon bestellen</a></p>
      </div>

      <div class="column location">
        <p>ISBN: {{ book.isbn }}</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  {% endfor %}
</div>
