<div class="content list">

  <div class="title">
    <div></div>
    <p><span>Bücher</span></p>
  </div>

  {% for book in site.data.books %}

  <div class="item">
    <div class="columns">
      <div class="column name">
        <p>{{ book.title }}</p>
      </div>

      <div class="column conference">
        <p>{{ book.isbn }}</p>
      </div>

      <div class="column location">
        <p><a href="{{ book.amazon_url }}">Bei Amazon bestellen.</a></p>
      </div>

      <div class="column online">
        <p><a href="{{ book.book_url }}">Online Version.</a></p>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  {% endfor %}
</div>
