{% capture svg %}{% include {{include.file_name}} %}{% endcapture %}
{% assign svgsplit = svg | split: 'svg11.dtd">' %}
{% assign svgpart = svgsplit[1] | strip_newlines %}
{% assign svgpart_url_encoded = svgpart | url_encode %}
{% assign svg_result = svgpart_url_encoded | prepend: 'background: url("data:image/svg+xml;utf8,' | append: '");'  %}
{% if include.append_css %}
  {% assign svg_result = svgpart_url_encoded | prepend: 'background: url("data:image/svg+xml;utf8,' | append: '") ' | append: include.append_css | append: ';'  %}
{% endif %}
{{ svg_result }}
