<div class="content menu">

  <div class="desktop">
    <a href="/ruby-on-rails/">RAILS</a>
    <a href="/phoenix/">PHOENIX</a>
    <a href="/ember/">EMBER</a>
    <a class="logo" href="/">&nbsp;</a>
    <a href="/webperformance/">WEBPERF</a>
    <a href="/google-analytics/">ANALYTICS</a>
    <a href="#">BLOG</a>
  </div>

  <div class="mobile">
    <a class="logo" href="/">&nbsp;</a>
    <div class="select">
      <div></div>
      <p>FRONT PAGE</p>
      <select onchange="window.location.href = this.value;">
        <option value="#" selected="selected">FRONT PAGE</option>
        <option value="/ruby-on-rails/">RAILS</option>
        <option value="/phoenix/">PHOENIX</option>
        <option value="/ember/">EMBER</option>
        <a class="logo" href="#">&nbsp;</option>
        <option value="/webperformance/">WEBPERF</option>
        <option value="/google-analytics/">ANALYTICS</option>
        <option value="#">BLOG</option>
      </select>
    </div>
  </div>

</div>
