<div class="content menu">

  <div class="desktop">
    <a href="/ruby-on-rails/">RAILS</a>
    <a href="#">PHOENIX</a>
    <a href="/ember/">EMBER</a>
    <a class="logo" href="/">&nbsp;</a>
    <a href="#">WEBPERF</a>
    <a href="#">ANALYTICS</a>
    <a href="#">BLOG</a>
  </div>

  <div class="mobile">
    <a class="logo" href="/">&nbsp;</a>
    <div class="select">
      <div></div>
      <p>FRONT PAGE</p>
      <select onchange="window.location.href = this.value;">
        <option value="#" selected="selected">FRONT PAGE</option>
        <option value="/ruby-on-rails/">RAILS</option>
        <option value="#">PHOENIX</option>
        <option value="/ember/">EMBER</option>
        <a class="logo" href="#">&nbsp;</option>
        <option value="#">WEBPERF</option>
        <option value="#">ANALYTICS</option>
        <option value="#">BLOG</option>
      </select>
    </div>
  </div>

</div>
