<!-- The last two posts which have a 'Rails' tag. -->
{% assign has_ruby_on_rails_posts = false %}
{% assign counter=0 %}
{% for post in site.posts %}
  {% if post.tags contains 'Rails' %}
    {% assign has_ruby_on_rails_posts = true %}
    {% assign counter=counter | plus:1 %}
  {% endif %}
{% endfor %}

{% if counter > 1 %}
  <div class="grey">
    <div class="content blog">

      {% assign counter=0 %}
      {% for post in site.posts %}
        {% if post.tags contains 'Rails' %}
          {% assign counter=counter | plus:1 %}
          {% if counter == 1 %}
            <div class="column-2-1">
              <div class="post">
                <div></div>
                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></a>
                <p>{{ post.abstract }} <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">[Lesen]</a></p>
              </div>
            </div>
          {% elsif counter == 2%}
            <div class="column-2-2">
              <div class="post">
                <div></div>
                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></a>
                <p>{{ post.abstract }} <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">[Lesen]</a></p>
              </div>
            </div>
            <div class="clear"></div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
