<!-- The last two posts which have a 'Rails' tag. -->
{% assign counter=0 %}
{% for post in site.posts %}
  {% if post.tags contains 'Rails' %}
    {% assign counter=counter | plus:1 %}
  {% endif %}
{% endfor %}

{% if counter > 1 %}
  <div class="grey">
    <div class="content blog">
      {% assign posts = site.tags.Rails %}
      {% for post in posts limit:2 %}
        <div class="column-2-{% cycle '1', '2' %}">
          <div class="post">
            <div></div>
            <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></a>
            <p>{{ post.abstract }} <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">[Lesen]</a></p>
          </div>
        </div>
      {% endfor %}
      <div class="clear"></div>
    </div>
  </div>
{% endif %}
