{% comment %}
To display the last two posts which are tagged 'Foo' use:

  {% include last-2-posts.html tag='Foo' %}

To display the last two posts from any category use:

  {% include last-2-posts.html %}
{% endcomment %}

{% if include.tag %}
  {% assign posts = site.tags.[include.tag] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign counter = posts | size %}

{% if counter > 1 %}
  <div class="grey">
    <div class="content blog">
      {% for post in posts limit:2 %}
        <div class="column-2-{% cycle '1', '2' %}">
          <div class="post">
            <div>&nbsp;</div>
            <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></a>
            <p>{{ post.abstract | truncatewords: 16 | truncate: 100 }} <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><br />Lesezeit: {{ post.content | reading_time }}</a></p>
            {% unless include.tag %}
              {% for tag in post.tags %}
                <a class="tag" href="#">{{ tag }}</a>
              {% endfor %}
            {% endunless %}
          </div>
        </div>
      {% endfor %}
      <div class="clear"></div>
    </div>
  </div>
{% endif %}
