<div class="content">
  <div class="l-box pure-g">
    <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
      <h2 class="content-head is-center">Veröffentlichungen</h2>

      <h3 class="content-subhead">Vorträge</h3>
      <table class='pure-table pure-table-striped'>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Konferenz</th>
            <th>Ort</th>
            <th>Vortrag</th>
            <th colspan='2'>Zusatzmaterial</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11.11.2014</td>
            <td><a href="http://www.ux-congress.com/">ux congress</a></td>
            <td>Frankfurt</td>
            <td>Tödliche Geschwindigkeit</td>
            <td><a href="https://speakerdeck.com/wintermeyer/todliche-langsamkeit-ux-congress-2014">Folien</a></td>
            <td><a href="http://youtu.be/MT5S9T0DWrs">Video</a></td>
          </tr>
          <tr>
            <td>30.04.2013</td>
            <td><a href="http://www.railsconf.com/">RailsConf</a></td>
            <td>Portland, OR</td>
            <td>Cache = Cash</td>
            <td><a href="https://speakerdeck.com/wintermeyer/railsconf-2013-cache-equals-cash">Folien</a></td>
            <td><a href="http://www.confreaks.com/videos/2453-railsconf2013-cache-cash">Video</a></td>
          </tr>
          <tr>
            <td>25.05.2013</td>
            <td><a href="http://www.linuxtag.org/">LinuxTag</a></td>
            <td>Berlin</td>
            <td>Cache = Cash</td>
            <td><a href="https://speakerdeck.com/wintermeyer/linuxtag-2013-cache-equals-cash">Folien</a></td>
            <td></td>
          </tr>
          <tr>
            <td>25.05.2013</td>
            <td><a href="http://www.linuxtag.org/">LinuxTag</a></td>
            <td>Berlin</td>
            <td>Ember.js</td>
            <td><a href="https://speakerdeck.com/wintermeyer/linuxtag-2013-ember-dot-js">Folien</a></td>
            <td></td>
          </tr>
          <tr>
            <td>24.08.2013</td>
            <td><a href="http://www.froscon.de/">FrOSCon</a></td>
            <td>Sankt Augustin</td>
            <td>Ember.js</td>
            <td><a href="https://speakerdeck.com/wintermeyer/ember-dot-js-at-froscon-2013">Folien</a></td>
            <td>
              <a href="http://media.ccc.de/browse/conferences/froscon/2013/hs3_-_2013-08-25_14:00_-_ember_js_-_stefan_wintermeyer_-_1149.html">Video</a>
            </td>
          </tr>
          <tr>
            <td>24.08.2013</td>
            <td><a href="http://www.froscon.de/">FrOSCon</a></td>
            <td>Sankt Augustin</td>
            <td>Cache = Cash</td>
            <td><a href="https://speakerdeck.com/wintermeyer/linuxtag-2013-cache-equals-cash">Folien</a></td>
            <td>
              <a href="http://media.ccc.de/browse/conferences/froscon/2013/hs1_2_-_2013-08-24_15:15_-_cache_cash_-_stefan_wintermeyer_-_1148.html">Video</a>
            </td>
          </tr>
          <tr>
            <td>29.10.2013</td>
            <td><a href="http://phpconference.com/">International PHP Conference</a></td>
            <td>München</td>
            <td>1.000 Millisekunden (Ladegeschwindigkeit)</td>
            <td><a href="https://speakerdeck.com/wintermeyer/1-dot-000-milisekunden">Folien</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 class="content-subhead">Bücher</h3>
      <table class='pure-table pure-table-striped'>
        <thead>
          <tr>
            <th>Titel</th>
            <th>ISBN-Nummer</th>
            <th>Hardcopy</th>
            <th>Online-Version</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ruby on Rails 3.2 - Für Ein-, Um- und Quereinsteiger</td>
            <td>3827329892</td>
            <td><a href="http://www.amazon.de/Ruby-Rails-3-2-Quereinsteiger-Library/dp/3827329892">Amazon</a></td>
            <td><a href="http://ruby-auf-schienen.de">ruby-auf-schienen.de</a></td>
          </tr>
          <tr>
            <td>Asterisk</td>
            <td>3827330335</td>
            <td><a href="http://www.amazon.de/Asterisk-1-4-1-6-Studentenausgabe-Programmierung/dp/3827330335">Amazon</a></td>
            <td><a href="http://das-asterisk-buch.de">das-asterisk-buch.de</a></td>
          </tr>
        </tbody>
      </table>

      <h3 class="content-subhead">Artikel</h3>
      <table class='pure-table pure-table-striped'>
        <thead>
          <tr>
            <th>Zeitschrift</th>
            <th>Verlag</th>
            <th>Heftnummer</th>
            <th>Artikel</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://www.heise.de/ix/">iX</a></td>
            <td>Heise</td>
            <td>8/2013</td>
            <td>
              Glühfaktor
              <br>
              Ember: JavaScript-Framework für Webanwendungen
            </td>
            <td><a href="https://www.heise.de/artikel-archiv/ix/2013/08/130_Gluehfaktor">PDF des Artikels</a></td>
          </tr>
          <tr>
            <td><a href="http://shop.heise.de/katalog/ix-developer-javascript-heute-2014">iX Developer JavaScript heute 1/2014</a></td>
            <td>Heise</td>
            <td>1/2014</td>
            <td>
              Nachglühen
              <br>
              Ember.js 1.1 im Einsatz
            </td>
            <td><a href="http://www.heise.de/developer/artikel/Ember-js-1-1-im-Einsatz-2053975.html">HTML Version des Artikels</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
