---
layout: default
short_title: Phoenix
title: Consulting und Support für Phoenix Framework Projekte
description: Consulting und Training für das Phoenix Framework.
excerpt: "Wir sind spezialisiert auf hochperformante Webapplikationen und helfen Ihnen gerne bei Ihrem Projekt."
group: "navigation"
nav_position: 2
permalink: /phoenix/
custom_css:
  - bio
  - blog
  - list
---

<div class="content">
  <div class="divider"></div>
  <h1>Phoenix Framework</h1>
  <div class="divider"></div>

  <div class="column-3-1">
    <p><strong><a href="http://www.phoenixframework.org/">Phoenix Framework</a></strong>
      ist ein mit der Funktionalen Programmiersprache <a href="http://elixir-lang.org/">Elixir</a> programmiertes Framework zur Erstellung von skalierbaren Webapplikationen.
    </p>
  </div>

  <div class="column-3-2">
    <p><strong>Phoenix ist schnell.</strong> Im Schnitt etwa 10 mal schneller als Ruby on Rails. Da Phoenix Hot Deployments unterstützt ist ein Zero-Downtime Deployment kein Problem.</p>

  </div>

  <div class="column-3-3">
    <p>
      Wir bieten seit 2015 Consulting (<a href="consulting-preisliste.html">Preisliste</a>) und für Phoenix an.
    </p>
    <p>
      Bitte schreiben Sie uns eine E-Mail mit einer Beschreibung Ihres Projektes und Ihrer Ziele an <a href="mailto:info@amooma.de">info@amooma.de</a>.
    </p>
  </div>
</div>

{% include last-2-posts.html tag='Phoenix' %}

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
  </div>
  <div class="text">
    <p>
      Phoenix ist im Vergleich zu Rails neu, technisch super interessant und vielversprechend. Es ist extrem stabil und dabei rattenschnell. Allerdings ist die Community und die Sichtbarkeit noch sehr klein. In Deutschland ist es sehr schwer gute Phoenix Entwickler zu finden.
   </p>
   <p>
     Die Lernkurve ist steil. Für OOP (objektorientierte Programmierung) Programmierer sehr steil! Ich biete deshalb <strong>Anfänger-Trainings</strong> an. Bei Bedarf erstelle ich auch gerne ein Customized-Training für die Bedürfnisse Ihres Teams.
   </p>
    <p>
      Ich würde mich freuen, wenn wir Sie bei einem Phoenix Projekt mit Consulting oder Training unterstützen könnten. Schreiben Sie mir bitte eine E-Mail an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>.
    </p>
  </div>
</div>

{% include trainings.html tag='Phoenix' title='Schulungen' %}

{% include talks.html tag='Phoenix' title='Vorträge' %}

{% include books.html tag='Phoenix' title='Bücher' %}

{% include articles.html tag='Phoenix' title='Artikel in Fachzeitschriften' %}
