---
layout: default
short_title: Phoenix
title: Phoenix Framework
description: Consulting und Training für das Phoenix Framework.
permalink: /phoenix/
---

<div class="content">
  <div class="divider"></div>
  <h1>Phoenix</h1>
  <div class="divider"></div>

  <div class="column-3-1">
    <p><strong><a href="http://www.phoenixframework.org/">Phoenix</a></strong>
      ist ein auf <a href="http://elixir-lang.org/">Elixir</a> aufbauendes Framework zur Erstellung von skalierbaren Webapplikationen mit Realtime Verbindung zu allen Clients.
    </p>
  </div>

  <div class="column-3-2">
    <p>
      Wir haben noch kein Kunden-Projekt mit Phoenix realisiert. 2015 ist das erste Jahr, in dem wir Phoenix Consulting anbieten.
    </p>
  </div>

  <div class="column-3-3">
    <p>
      Diese Seite ist ein Test, um mit Google Analytics Daten rauszufinden, wie viel Interesse für Phoenix, Elixir und Erlang in Deutschland vorhanden ist.
    </p>
  </div>
</div>

{% include last-2-posts.html tag='Phoenix' %}

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
    <div class="signature"></div>
  </div>
  <div class="text">
    <p>
      Phoenix ist neu, technisch super interessant und vielversprechend. Allerdings ist die Community und die Sichtbarkeit sehr klein. Ich kann heute deshalb keine Prognose für den Erfolg von Phoenix machen.
</p>
    <p>
      Wenn Sie sich für Phoenix interessieren, dann schreiben Sie mir bitte eine E-Mail an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>.
    </p>
  </div>
</div>

{% include talks.html tag='Phoenix' title='Vorträge zum Thema Phoenix' %}

{% include books.html tag='Phoenix' title='Bücher zum Thema Phoenix' %}

{% include articles.html tag='Phoenix' title='Artikel in Fachzeitschriften zum Thema Phoenix' %}
