---
layout: default
title: Phoenix
description: Consulting und Training für das Phoenix Framework.
group: "navigation"
nav_position: 2
permalink: /phoenix/
---

<div class="content">
  <div class="divider"></div>
  <h1>Phoenix</h1>
  <div class="divider"></div>

  <div class="column-3-1">
    <p><strong><a href="http://www.phoenixframework.org/">Phoenix</a></strong>
      ist ein auf <a href="http://elixir-lang.org/">Elixir</a> aufbauendes Framework zur Erstellung von skalierbaren Webapplikationen mit Realtime Verbindung zu allen Clients.
    </p>
  </div>

  <div class="column-3-2">
    <p>
      Wir haben noch kein Kunden-Projekt mit Phoenix realisiert. 2015 ist das erste Jahr, in dem wir Phoenix Consulting anbieten.
    </p>
  </div>

  <div class="column-3-3">
    <p>
      Bitte schreiben Sie uns eine E-Mail mit einer Beschreibung Ihres Projektes und Ihrer Ziele an <a href="mailto:info@amooma.de">info@amooma.de</a>.
    </p>
  </div>
</div>

{% include last-2-posts.html tag='Phoenix' %}

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
    <div class="signature"></div>
  </div>
  <div class="text">
    <p>
      Phoenix ist neu und vielversprechend. Allerdings ist die Community und die Sichtbarkeit sehr klein. Beides sind wichtige Faktoren für den Erfolg einer Software. Mit dieser Webseite möchte ich Anhand der Google Analytics Daten herrausfinden wie viel Potential Phoenix auf dem Deutschen Markt hat.
    </p>
    <p>
      Wenn Sie sich für Phoenix interessieren, dann schreiben Sie mir bitte eine E-Mail an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>. Ich würde mich freuen a) mehr über Ihr Projekt zu erfahren und b) vielleicht auch bei Fragen helfen zu können. Natürlich verkaufe ich Ihnen auch gerne Consulting und Training. ;-)
    </p>
  </div>
</div>

{% include talks.html tag='Phoenix' title='Vorträge zum Thema Phoenix' %}

{% include books.html tag='Phoenix' title='Bücher zum Thema Phoenix' %}

{% include articles.html tag='Phoenix' title='Artikel in Fachzeitschriften zum Thema Phoenix' %}
