---
layout: default
short_title: WebPerf
title: WebPerformance
description: WebPerformance Consulting und Training
group: "navigation"
nav_position: 3
permalink: /webperformance/
custom_css:
  - bio
  - blog
  - list
---

<div class="content">
  <div class="divider"></div>
  <h1>WebPerformance</h1>
</div>

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
  </div>
  <div class="text">
    <p>
      Irgendwo mit einer schlechten Handyverbindung eine Webseite aufrufen und dann ewig warten. Reloaden. Aufgeben. Damit das nicht passiert beschäftige ich mich so gerne mit WebPerformance. Als angenehmen Seiteneffekt kann man meist die Webserverfarm verkleinern und damit Geld sparen. Win-Win!
    </p>
    <p>
      Haben Sie eine Frage oder Anregung? Dann kontaktieren Sie mir bitte direkt per E-Mail an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>.
    </p>
  </div>
</div>

{% include last-2-posts.html tag='WebPerf' %}

{% include talks.html tag='WebPerf' title='Vorträge zum Thema WebPerformance' %}

{% include books.html tag='WebPerf' title='Bücher zum Thema WebPerformance' %}

{% include articles.html tag='WebPerf' title='Artikel in Fachzeitschriften zum Thema WebPerformance' %}
