---
layout: default
short_title: WebPerf
title: WebPerformance
description: WebPerformance Consulting und Training
excerpt: "WebPerformance Consulting und Training. Eine Sekunde schnellere Ladezeit => 5 Prozent höhere Conversion Rate!"
group: "navigation"
nav_position: 3
permalink: /webperformance/
custom_css:
- bio
- blog
- list
---

<div class="content">
  <div class="divider"></div>
  <h1>Fussgängerzone oder Autobahn?</h1>
  <div class="divider"></div>

  <div class="column-3-1">
    <p>Eine Sekunde schnellere Ladezeit resultiert im Durchschnitt in einer 5 Prozent besseren Conversion Rate. Wir helfen Ihnen mit Consulting und <a href="/trainings/webperformance.html">Schulungen</a> eine neue schnelle Webseite zu realisieren oder Ihre existierene Webseite und -applikation zu optimieren.</p>
  </div>

  <div class="column-3-2">
    <p>Beim Thema WebPerformance sind wir führend in Deutschland. In der <a href="http://www.heise.de/ix/inhalt/2015/8">iX Ausgabe 8/2015</a> wurde ein von Stefan Wintermeyer geschriebener Artikel zum Thema WebPerformance veröffentlicht. Auf der <a href="http://froscon.de/">FroSCon 2015</a> wird er einen Vortrag zu diesem Thema halten.</p>
  </div>

  <div class="column-3-3">
    <p>WebPerformance Optimierung ist ein Full-Stack Projekt: Optimierung auf der CSS-, HTML- und JavaScript Ebene sind dabei nur der Anfang. Weiter geht es mit WebServer, DB-Server, Betriebssystem (Kernel!) und Netzwerk. Und natürlich ein Umstieg auf HTTP/2.</p>
  </div>
</div>

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
  </div>
  <div class="text">
    <p>
      Irgendwo mit einer schlechten Handyverbindung eine Webseite aufrufen und dann ewig warten. Reloaden. Aufgeben. Wer kennt das nicht?! So viel vorweg: <strong>Sie können das Problem weder mit mehr Servern noch mit einer besseren Anbindung Ihrer Server ans Internet lösen.</strong>
    </p>
    <p>Wer zum ersten Mal den Vorher-Nachher-Effekt einer schnelleren Webseite in Google Analytis beobachtet versteht meine Begeisterung für dieses Thema. Geringere Bounce- und bessere Conversion-Rate. Und als posititen Seiteneffekt können die meisten unserer Kunden auch noch Server einsparen und bekommen ein besseres Google-Ranking.
    </p>
    <p>
      Haben Sie eine Frage oder Anregung? Dann kontaktieren Sie mir bitte direkt per E-Mail an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>.
    </p>
  </div>
</div>

{% include last-2-posts.html tag='WebPerf' %}

{% include trainings.html tag='WebPerf' title='Schulungen' %}

{% include talks.html tag='WebPerf' title='Vorträge' %}

{% include books.html tag='WebPerf' title='Bücher' %}

{% include articles.html tag='WebPerf' title='Artikel in Fachzeitschriften' %}
