---
layout: default
title: Webperformance
description: Die AMOOMA GmbH bietet Hilfe bei der PageSpeed-Optimierung Ihrer Webseite.
group: "navigation"
permalink: /webperformance/
---

<div class="content">
  <h2 class="content-head is-center">Webperformance</h2>

  <div class="pure-g">
    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
      <p>
        Warum ist es wichtig, das eine Webseite schnell beim Nutzer dieser Webseite angezeigt wird? Google und Microsoft haben dazu Tests gemacht. Das Hauptergebnis finden Sie in diesem vom Googles Web Performance Engineer <a href="http://www.igvita.com/">Ilya Grigorik</a> zur Verfügung gestellten Graphen:
      </p>
      <img alt="How speed affects bounce rate slide." class="pure-img-responsive" src="/images/how-speed-affects-bounce-rate.gif">
      <p>
        <em>Jede Sekunde = Faktor 0,65 Anstieg in der Bounce Rate!</em>
      </p>
      <ul>
        <li><a href="http://www.igvita.com/slides/2012/webperf-crash-course.pdf">Der komplette Vortrag als PDF.</a></li>
        <li>Das Buch <a href="http://chimera.labs.oreilly.com/books/1230000000545"> "High Performance Browser Networking"</a>
          von Ilya Grigorik ist sehr zu empfehlen.</li>
        </ul>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
        <p>
          Die <a href="http://de.wikipedia.org/wiki/Bounce_Rate">Absprungrate</a> (Bounce Rate) erhört sich innerhalb der ersten paar Sekunden nach der Eingabe der URL im Browser enorm.
        </p>
        <p>
          Heutige Nutzer erwarten sofortige Ergebnisse! Die Zahlen der von Google und Bing durchgeführten Analysen sind eindeutig.
        </p>
        <p>
          Idealerweise sollte eine Webseite innerhalb von 1.000ms angezeigt werden. Und bei ca. 25% mobilen Usern in Deutschland gilt dies auch für Verbindungen von mobilen Telefonen und Tablet Computern (inkl. der hohen Latenz im Mobilfunknetz).
        </p>
        <p>
          <strong>
            Schlechte Webseiten werden durch gute Ladezeiten nicht beliebter. Aber gute Webseite verlieren durch schlechte Ladezeiten viele Besucher!
          </strong>
        </p>
        <p>
          <a href="http://googlewebmastercentral.blogspot.de/2010/04/using-site-speed-in-web-search-ranking.html">Schnelle Webseiten werden von Google besser gerankt</a>. Das ist aber nur ein angenehmer Nebeneffekt. Der Hauptvorteil ist eine Verbesserung der Conversion-Rate und der Einsparung bei den Servern.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
        <h3 class="content-subhead">
          Blog
        </h3>
        <p>
          In diesem Bereich veröffentlichen wir unsere Blog-Einträge zum Thema Webperformance und PageSpeed-Optimierung.
        </p>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
        <h2 class="content-subhead">Consulting</h2>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
        <p>
          Wir analysieren mit Ihnen Ihre Webseiten und begleiten Sie bei der Umstellung. Dabei betrachten wir den gesamten Workflow vom Server bis zum Webbrowser. Die von Ihnen eingesetze Programmiersprache auf Server-Seite ist dabei egal. Auf Client-Seite unterstützen wir JavaScript.
        </p>
        <p>
          Jeder unserer Kunden ist anders und hat andere Wünsche. Deshalb gibt es bei einer solchen Optimierung keinen Standard-Weg. Wir sagen Ihnen, was technisch möglich ist und was wir empfehlen. Zusammen mit Ihrem Design-, Content-, Programmier- und Admin-Team finden wir dann die beste Lösung für Ihre Bedürfnisse.
        </p>
        <p>
          Ein guter Anfang ist meistens der "Starter Workshop". Wir helfen Ihnen gerne per E-Mail oder Fernwartung, aber gerade das persönliche Gespräch und die Benutzung von Flipboards und dem guten alten Papier bringt am Anfang die besten Ergebnisse.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
        {% include consulting_preisliste/table_header.html %}
        {% include consulting_preisliste/default_content.html %}
            <tr>
              <td>
                Starter Workshop in Deutschland (inkl. Anfahrt)
                <br>
                <small>Wir erstellen vor dem Workshop eine erste Grundanalyse Ihrer Webseite und besprechen mit Ihnen die möglichen Schritte bei einem halbtägigen Workshop in Ihrem Hause. Auf Wunsch auch gerne per Videokonferenz.</small>
              </td>
              <td align='right'>
                <nobr>2.500 Euro</nobr>
              </td>
            </tr>
        {% include consulting_preisliste/table_footer.html %}
        <p>
          Bitte schreiben Sie uns eine E-Mail an <a href="mailto:info@amooma.de">info@amooma.de</a> wenn Sie Fragen haben oder einen Termin buchen wollen.
        </p>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
        <h2 class="content-subhead">Vorträge</h2>
        <p>
          Wenn Sie für Ihre Veranstaltung einen Vortrag rund um das Thema Webperformance benötigen, so schreiben Sie bitte eine E-Mail mit der Vorstellung Ihrer Veranstaltung und dem gewünschten Thema an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
        <table class='pure-table pure-table-striped'>
          <thead>
            <tr>
              <th>Datum</th>
              <th>Konferenz</th>
              <th>Ort</th>
              <th>Vortrag</th>
              <th colspan='2'>Zusatzmaterial</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>30.04.2013</td>
              <td><a href="http://www.railsconf.com/">RailsConf</a></td>
              <td>Portland, OR</td>
              <td>Cache = Cash</td>
              <td><a href="https://speakerdeck.com/wintermeyer/railsconf-2013-cache-equals-cash">Folien</a></td>
              <td><a href="http://www.confreaks.com/videos/2453-railsconf2013-cache-cash">Video</a></td>
            </tr>
            <tr>
              <td>25.05.2013</td>
              <td><a href="http://www.linuxtag.org/">LinuxTag</a></td>
              <td>Berlin</td>
              <td>Cache = Cash</td>
              <td><a href="https://speakerdeck.com/wintermeyer/linuxtag-2013-cache-equals-cash">Folien</a></td>
              <td></td>
            </tr>
            <tr>
              <td>24.08.2013</td>
              <td><a href="http://www.froscon.de/">FrOSCon</a></td>
              <td>Sankt Augustin</td>
              <td>Cache = Cash</td>
              <td><a href="https://speakerdeck.com/wintermeyer/linuxtag-2013-cache-equals-cash">Folien</a></td>
              <td>
                <a href="http://media.ccc.de/browse/conferences/froscon/2013/hs1_2_-_2013-08-24_15:15_-_cache_cash_-_stefan_wintermeyer_-_1148.html">Video</a>
              </td>
            </tr>
            <tr>
              <td>29.10.2013</td>
              <td><a href="http://phpconference.com/">International PHP Conference</a></td>
              <td>München</td>
              <td>1.000 Millisekunden (Ladegeschwindigkeit)</td>
              <td><a href="https://speakerdeck.com/wintermeyer/1-dot-000-milisekunden">Folien</a></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
