---
layout: default
short_title: Ruby on Rails Schulung
title: Ruby on Rails Schulung mit Stefan Wintermeyer
description: Ruby on Rails Schulung
excerpt: "Ruby on Rails Schulungen mit Stefan Wintermeyer."
custom_css:
  - blog
  - list
---
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "http://www.amooma.de/trainings/",
      "name": "Schulungen"
    }
  }]
}
</script>

<div class="content">
  <div class="divider"></div>
  <h1>Ruby on Rails 4.2 und 5.0 Schulung</h1>
  <div class="divider"></div>

  <div class="column-3-1">

    <div class="text">
      <p>
        In der 2-tägigen Schulung werden die folgende Themen behandelt.
      </p>
    </div>

    <h3>Ruby Grundlagen</h3>
    <ul>
      <li>Installation mit RVM</li>
      <li>Unterschiede der Ruby Versionen 1.8, 1.9, 2.0 und 2.2</li>
      <li>Hello-World Programm</li>
      <li>irb</li>
      <li>Methoden und Klassen</li>
      <li>Variablen</li>
      <li>if Bedingungen</li>
      <li>while und until Schleifen</li>
      <li>Blöcke und Iteratoren</li>
      <li>Arrays und Hashes</li>
      <li>Ranges</li>
    </ul>

    <h3>Erste Schritte mit Rails</h3>
    <ul>
      <li>Wie funktioniert das Skript, mit dem Rails Applikationen erstellt werden?</li>
      <li>Development Umgebung</li>
      <li>Warum sollte man die Variablen, Klassen und Methoden auf Englisch benennen?</li>
      <li>Statische Webseiten und Grafiken</li>
      <li>Dynamische erb Seiten</li>
      <li>Redirects</li>
      <li>Flash Meldungen</li>
      <li>Model View Controller (MVC) Architektur</li>
      <li>Helper</li>
      <li>Convention Over Configuration</li>
    </ul>

    <h3>Routen</h3>
    <p>
      Wir beschäftigen uns in diesem Modul mit den verschiedenen Routing-Optionen und mit dem grundlegenden Routing-Konzept.
    </p>
  </div>

  <div class="column-3-2">
    <h3>ActiveRecord</h3>
    <ul>
      <li>Warum nicht pures SQL?</li>
      <li>Ein Model definieren und in der Datenbank anlegen</li>
      <li>Datensätze hinzufügen</li>
      <li>Mit seeds.rb die Datenbank betanken</li>
      <li>Suchen und Finden mit Queries</li>
      <li>Datensätze editieren</li>
      <li>1:n, n:n und 1:1 Verknüpfungen</li>
      <li>Polymorphe Assoziationen</li>
      <li>Datensätze löschen</li>
      <li>Transaktionen</li>
      <li>Scopes</li>
      <li>Validierungen</li>
      <li>Migrationen</li>
    </ul>
    <h3>Scaffolding und REST</h3>
    <ul>
      <li>rails generade scaffold</li>
      <li>Zugriff per XML und JSON</li>
      <li>Wann ist Scaffolding sinnvoll?</li>
    </ul>

    <h3>Cookies und Sessions</h3>
    <ul>
      <li>Permantente Cookies</li>
      <li>Signierte Cookies</li>
      <li>Sessions</li>
    </ul>
    <h3>Action Mailer</h3>
    <p>
      Wie können von einer Rails Applikation E-Mails verschickt werden.
    </p>
    <ul>
      <li>Versand per SMTP</li>
      <li>Eigene X-Header</li>
      <li>Anhänge</li>
    </ul>

    <h3>Internationalisierung eines Rails Projektes</h3>
    <p>Es wird gezeigt wie man mit einerm Rails Projekt Nutzer der Webseite mit verschiedenen Sprachen bedienen kann.</p>
  </div>
  <div class="column-3-3">

    <h3>Asset Pipeline</h3>
    <p>Wozu ist die Asset Pipeline gut und wie kann man das Maximum rausholen. Dazu beschäftigen wir uns auch mit Caching in Nginx bzw. Apache.</p>
    <ul>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Grafiken (Images)</li>
    </ul>

    <h3>Caching</h3>
    <p></p>
    <ul>
      <li>HTTP-Caching</li>
      <li>Page-Caching</li>
      <li>Fragment-Caching</li>
    </ul>

    <h3>Sonstiges</h3>
    <ul>
      <li>Bundler und Gems</li>
      <li>IDEs</li>
    </ul>

    <h3>Test-Driven-Development (TDD)</h3>
    <p>
      Wir wollen in dieser Schulung keinen Teilnehmer zum Test-Driven-Development "überreden". Wir besprechen die grundsätzliche Idee und zeigen die im Framework eingebauten Möglichkeiten. Jeder Teilnehmer muss dann selber entscheiden, ob er TDD benutzt oder nicht.
    </p>
  </div>
</div>

<div class="content">
  <div class="text">
    <p>
      Jeder Teilnehmer muss einen Laptop mit einem installierten Ruby 2.2 und Rails 4.2 mitbringen. Gerne helfen wir im Vorfeld der Schulung per E-Mail Support bei der Installation.
    </p>
    <p>
      <strong>Die 2-tägigen Schulung kostet pro Person 975 Euro (plus MwSt.).</strong> Bei weniger als 3 Anmeldungen pro Schulungstermin behalten wir uns die Stornierung der Schulung vor. Der volle Preis wird dann zurück erstattet.
    </p>
    <p>
      Die Schulung kann formlos per E-Mail an <a href="mailto:info@amooma.de">info@amooma.de</a> gebucht werden. Bitte geben Sie die Namen und E-Mail Adresse aller zu buchenden Teilnehmer und die gewünschte Rechnungsaddrese an.
    </p>
    <p>
      Die Schulung wird in Deutsch geführt. Die Schulungsunterlagen sind in englischer Sprache verfasst.
    </p>
    <p>
      Die Schulung wird vom Rails Fachmann und Buchautor Stefan Wintermeyer geführt. Bei Fragen zur Schulung können Sie sich gerne per E-Mail (<a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>) direkt an ihn wenden.
    </p>
  </div>
</div>

{% include trainings.html tag='Rails' %}

{% include books.html tag='Rails' %}
