---
layout: default
short_title: WebPerformance Schulung
title: WebPerformance Schulung mit Stefan Wintermeyer
description: WebPerformance Schulung
excerpt: "Eintägiger Crashkurs. Inhouse-Schulung möglich. Inhalt: HTTP/1.1 vs. 2.2, TCP-Slow-Start, Caching, HTML- und CSS-Optimierung. Bildoptimierung. JavaScript-Probleme. Full-Stack-Ansatz."
custom_css:
  - blog
  - list
---
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "http://www.amooma.de/trainings/",
      "name": "Schulungen"
    }
  }]
}
</script>

<div class="content">
  <div class="divider"></div>
  <h1>WebPerformance Schulung</h1>
  <div class="divider"></div>

  <div class="column-3-1">

    <div class="text">
      <p>
        WebPerformance wird für viele Firmen immer wichtiger. Schnell ladbare Webseiten bekommen ein besseres Google-Ranking und führen zu einer besseren Conversion-Rate. Als angenehmen Seiteneffekt benötigt man bei gleicher Last weniger Webserver.
      </p>
      <p>
        Als deutscher Vorreiter in diesem Thema bieten wir zusätzlich zu unserem <a href="/webperformance/">WebPerformance Consulting</a> auch eine 1-tägige Full-Stack Schulung an.
      </p>
    </div>
  </div>

  <div class="column-3-2">
    <h3>HTTP/1.1</h3>
    <ul>
      <li>TCP Grundlagen</li>
      <li>Slow-Start</li>
      <li>Komprimierung</li>
    </ul>

    <h3>HTTP/2</h3>
    <ul>
      <li>TLS</li>
      <li>Header Optimierung</li>
    </ul>

    <h3>HTML, CSS und JavaScript</h3>
    <ul>
      <li>technische Hintergründe (warum lädt was wann)</li>
      <li>Wasserfallanalyse</li>
      <li>Optimierung</li>
      <li>Komprimierung</li>
    </ul>
  </div>
  <div class="column-3-3">
    <h3>Server-Software</h3>
      <ul>
        <li>nginx</li>
        <li>Apache</li>
        <li>Varnish</li>
      </ul>
    <h3>Bildoptimierung</h3>
    <ul>
      <li>Unterschiedliche Formate</li>
      <li>Einsatz von externen APIs</li>
      <li>Responsiveness</li>
    </ul>

    <h3>Caching</h3>
    <ul>
      <li>HTTP-Caching</li>
      <li>Page-Caching</li>
      <li>Fragment-Caching</li>
      <li>CDNs</li>
    </ul>
  </div>
</div>

<div class="content">
  <div class="text">
    <p>
      <strong>Die 1-tägige Schulung kostet pro Person 885 Euro (plus MwSt.).</strong> Bei weniger als 3 Anmeldungen pro Schulungstermin behalten wir uns die Stornierung der Schulung vor. Der volle Preis wird dann zurück erstattet.
    </p>
    <p>
      Die Schulung kann formlos per E-Mail an <a href="mailto:info@amooma.de">info@amooma.de</a> gebucht werden. Bitte geben Sie die Namen und E-Mail Adresse aller zu buchenden Teilnehmer und die gewünschte Rechnungsaddrese an.
    </p>
    <p>
      Die Schulung wird in Deutsch geführt. Die Schulungsunterlagen sind in englischer Sprache verfasst.
    </p>
    <p>
      Die Schulung wird vom WebPerformance Fachmann und Autor Stefan Wintermeyer geführt. Bei Fragen zur Schulung können Sie sich gerne per E-Mail (<a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>) direkt an ihn wenden.
    </p>
  </div>
</div>

{% include trainings.html tag='WebPerf' %}

{% include articles.html tag='WebPerf' %}
