/* ### BLOG: ### */
a.tag {
  background: #3798cd;
  color: #ffffff;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 12px;
  margin: 10px 10px 0px 0px;
  padding: 5px; }

div.blog div.post {
  padding: 30px 0px 0px 62px; }
  div.blog div.post a.title {
    font-size: 18px;
    line-height: 24px; }
    div.blog div.post a.title span {
      color: #aaaaaa;
      font-size: 14px;
      font-weight: 500; }
  div.blog div.post div {
    {% include css_background_url_inline_svg.html file_name='gfx/post.svg' %}
    height: 44px;
    left: 0px;
    position: absolute;
    top: 30px;
    width: 42px; }
  div.blog div.post p {
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0px 0px 0px; }
div.blog p.read-more {
  margin: 10px 0px -20px 0px;
  text-align: center; }
  div.blog p.read-more a {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px 0px 20px; }

/* ### BLOG POST: ### */
div.blog-post div.tags {
  padding: 0px 0px 10px 0px; }
div.blog-post p.meta {
  color: #aaaaaa;
  padding: 20px;
  text-align: center; }
div.blog-post p {
  padding: 0px 0px 10px 0px; }
