/* ### FAQ: ### */
div.faq p.answer {
  border-left: solid 3px #eeeeee;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 20px; }
div.faq p.question {
  padding: 20px 0px 20px 23px; }

div.article {
  padding: 0px 0px 10px 0px;
}
