/* ### LIST: ### */
div.list div.item {
  background: #f4f4f4;
  clear: both;
  display: table;
  margin: 20px 0px 0px 0px;
  width: 100%; }
  div.list div.item p {
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    text-align: left; }
    @media (max-width: 650px) {
      div.list div.item p {
        padding: 0px 10px 0px 10px; } }
    div.list div.item p span {
      color: #aaaaaa;
      font-size: 14px;
      font-weight: 500; }
  div.list div.item div.columns {
    padding: 0px 0px 0px 112px; }
    @media (max-width: 650px) {
      div.list div.item div.columns {
        padding: 10px 10px 10px 52px; } }
    div.list div.item div.columns div.name {
      width: 38%; }
      div.list div.item div.columns div.name br {
        display: none; }
        @media (max-width: 850px) {
          div.list div.item div.columns div.name br {
            display: inline; } }
    div.list div.item div.columns div.conference {
      width: 22%; }
      div.list div.item div.columns div.conference p a {
        color: #3a4551; }
    div.list div.item div.columns div.location {
      width: 40%; }
      div.list div.item div.columns div.location p {
        color: #aaaaaa; }
    div.list div.item div.columns div.column {
      float: left; }
      @media (max-width: 650px) {
        div.list div.item div.columns div.column {
          clear: both;
          float: none;
          width: 100%; } }
  @media (max-width: 650px) {
    div.list div.item div.blog {
      padding: 10px 10px 10px 60px; } }
  div.list div.item div.blog div.contents p.abstract {
    padding: 0px 10px 10px 10px; }
    @media (max-width: 650px) {
      div.list div.item div.blog div.contents p.abstract {
        font-size: 14px;
        padding: 5px 10px 5px 10px; } }
  div.list div.item div.blog div.contents p.reading-time {
    color: #aaaaaa;
    font-size: 14px;
    padding: 0px 10px 10px 10px; }
    @media (max-width: 650px) {
      div.list div.item div.blog div.contents p.reading-time {
        padding: 0px 10px 0px 10px; } }
  div.list div.item div.options {
    left: 0px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 112px;
    z-index: 2; }
    @media (max-width: 650px) {
      div.list div.item div.options {
        width: 52px; } }
    div.list div.item div.options div.amazon {
      background: url("{{ 'amazon.svg' | asset_path }}") no-repeat center center/100% 100%;
      cursor: pointer;
      height: 20px;
      margin: 13px 0px 12px 0px;
      width: 66px; }
      @media (max-width: 650px) {
        div.list div.item div.options div.amazon {
          background-image: url("{{ 'amazon-small.svg' | asset_path }}");
          height: 24px;
          width: 24px; } }
    div.list div.item div.options div.audio {
      background: url("{{ 'audio.svg' | asset_path }}") no-repeat center center/100% 100%;
      height: 16px;
      margin: 14px 5px 14px 0px;
      width: 20px; }
    div.list div.item div.options div.online {
      background: url("{% base64 gfx/online.svg %}") no-repeat center center/100% 100%;
      height: 16px;
      margin: 14px 5px 14px 5px;
      width: 22px; }
    div.list div.item div.options div.pdf {
      background: url("{{ 'pdf.svg' | asset_path }}") no-repeat center center/100% 100%;
      height: 16px;
      margin: 14px 5px 14px 5px;
      width: 30px; }
    div.list div.item div.options div.slides {
      background: url("{% base64 gfx/slides.svg %}") no-repeat center center/100% 100%;
      height: 16px;
      margin: 14px 5px 14px 0px;
      width: 22px; }
    div.list div.item div.options div.video {
      background: url("{% base64 gfx/video.svg %}") no-repeat center center/100% 100%;
      height: 16px;
      margin: 14px 5px 14px 5px;
      width: 22px; }
    div.list div.item div.options div.amazon, div.list div.item div.options div.audio, div.list div.item div.options div.online, div.list div.item div.options div.pdf, div.list div.item div.options div.slides, div.list div.item div.options div.video {
      cursor: pointer;
      display: inline-block;
      opacity: 0.25; }
      @media (max-width: 650px) {
        div.list div.item div.options div.amazon, div.list div.item div.options div.audio, div.list div.item div.options div.online, div.list div.item div.options div.pdf, div.list div.item div.options div.slides, div.list div.item div.options div.video {
          clear: both;
          display: block;
          margin: 15px 15px 0px 15px; } }
      div.list div.item div.options div.amazon a, div.list div.item div.options div.audio a, div.list div.item div.options div.online a, div.list div.item div.options div.pdf a, div.list div.item div.options div.slides a, div.list div.item div.options div.video a {
        display: block;
        height: 100%;
        width: 100%; }
    @media (max-width: 650px) {
      div.list div.item div.options div.online {
        margin: 15px 18px 0px 18px; } }
    div.list div.item div.options div.available {
      opacity: 1; }
  @media (max-width: 650px) {
    div.list div.item div.date {
      top: 11px;
      width: 60px; } }
  div.list div.item div.date p {
    text-align: center; }
    @media (max-width: 650px) {
      div.list div.item div.date p {
        font-size: 14px;
        line-height: 20px; } }
    @media (max-width: 650px) {
      div.list div.item div.date p span {
        display: none; } }
    div.list div.item div.date p br {
      display: none; }
      @media (max-width: 650px) {
        div.list div.item div.date p br {
          display: inline; } }
@media (max-width: 650px) {
  div.list div.talk {
    min-height: 106px; }

  div.list div.article {
    min-height: 70px; }
 }
