/* ### VARIABLES: ### */
/* ### LAYOUT: ### */
*, html, body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  position: relative; }

body, html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  width: 100%; }

div.clear {
  clear: both;
  height: 0px;
  width: 100%; }

div.column-2-1, div.column-2-2 {
  float: left;
  width: 48%; }
  @media (max-width: 800px) {
    div.column-2-1, div.column-2-2 {
      clear: both;
      float: none;
      width: 100%; } }

div.column-2-2 {
  margin: 0px 0px 0px 4%; }
  @media (max-width: 800px) {
    div.column-2-2 {
      margin: 0px; } }

div.column-3-1, div.column-3-2, div.column-3-3 {
  float: left;
  margin: 40px 0px 40px 0px;
  width: 32%; }

@media (max-width: 800px) {
  div.column-3-1 {
    margin: 30px 2% 0px 0px;
    width: 48%; } }
@media (max-width: 500px) {
  div.column-3-1 {
    clear: both;
    margin: 30px 0px 0px 0px;
    width: 100%; } }

div.column-3-2 {
  margin: 40px 2% 40px 2%; }
  @media (max-width: 800px) {
    div.column-3-2 {
      margin: 30px 0px 0px 2%;
      width: 48%; } }
  @media (max-width: 500px) {
    div.column-3-2 {
      clear: both;
      margin: 30px 0px 0px 0px;
      width: 100%; } }

@media (max-width: 800px) {
  div.column-3-3 {
    clear: both;
    float: none;
    margin: 0px 0px 30px 0px;
    padding: 30px 0px 0px 0px;
    width: 100%; } }

div.content {
  clear: both;
  margin: 0px auto 0px auto;
  max-width: 900px;
  width: 92%; }

div.divider {
  background: #c4c7ca;
  clear: both;
  height: 1px;
  width: 100%; }

div.grey {
  background: #eeeeee;
  clear: both;
  padding: 10px 0px 40px 0px; }

/* ### LINKS, HEADERS, TEXT: ### */
a, h1, h2, p, pre {
  word-wrap: break-word; }

a {
  color: #3798cd;
  font-weight: 600;
  text-decoration: none; }

div.text p {
  padding-bottom: 20px; }

div.title div {
  background: #c4c7ca;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 16px;
  width: 100%;
  z-index: 1; }
div.title p {
  text-align: center;
  z-index: 2; }
  div.title p span {
    background: #ffffff;
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    padding: 0px 20px 0px 20px; }

div.title-margin {
  margin: 20px 0px 0px 0px; }

h1 {
  color: #3a4551;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 44px;
  margin: 40px 0px 40px 0px;
  text-align: center; }
  @media (max-width: 500px) {
    h1 {
      font-size: 28px;
      line-height: 40px;
      margin: 30px 0px 30px 0px; } }

h2 {
  color: #3a4551;
  font-size: 18px;
  line-height: 26px;
  padding: 20px 0px 20px 0px; }

p {
  color: #3a4551;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }
  @media (max-width: 650px) {
    p {
      font-size: 16px;
      line-height: 22px; } }

pre {
  padding: 10px;
  margin: 10px 0px 10px 0px; }
  pre code {
    font-family: 'Courier', 'Courier New', 'Lucida Console', monospace;
    font-size: 14px;
    line-height: 18px; }
    pre code span {
      margin: 0px;
      white-space: normal; }

ul li {
  list-style-position: inside; }

/* ### MENU: ### */
div.menu div.desktop {
  height: 30px;
  margin: 50px 0px 50px 0px;
  text-align: center; }
  @media (max-width: 925px) {
    div.menu div.desktop {
      display: none; } }
  div.menu div.desktop a {
    color: #3a4551;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    margin: 0px 18px 0px 18px; }
  div.menu div.desktop a.logo {
    background: url("{% base64 gfx/logo.svg %}") no-repeat center center/100% 100%;
    height: 30px;
    width: 178px; }
div.menu div.mobile {
  display: none;
  height: 22px;
  margin: 20px 0px 20px 0px; }
  @media (max-width: 925px) {
    div.menu div.mobile {
      display: block; } }
  div.menu div.mobile a.logo {
    background: url("{% base64 gfx/logo.svg %}") no-repeat center center/100% 100%;
    display: block;
    float: left;
    height: 22px;
    width: 130px; }
  div.menu div.mobile div.select {
    float: right;
    height: 22px; }
    div.menu div.mobile div.select div {
      background: url("{% base64 gfx/menu.svg %}") no-repeat center center/100% 100%;
      float: right;
      height: 16px;
      margin: 4px 0px 4px 10px;
      width: 16px; }
    div.menu div.mobile div.select p {
      display: block;
      float: right;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px; }
    div.menu div.mobile div.select select {
      border: none;
      cursor: pointer;
      height: 100%;
      left: 0px;
      position: absolute;
      opacity: 0;
      top: 0px;
      width: 100%;
      z-index: 1; }

/* ### FOOTER: ### */
div.footer {
  margin: 40px auto 40px auto; }
  div.footer p {
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0px 0px 0px;
    text-align: center; }
    @media (max-width: 650px) {
      div.footer p span {
        display: none; } }
    div.footer p br.small {
      display: none; }
      @media (max-width: 650px) {
        div.footer p br.small {
          display: inline; } }
