/* ### SCREENCAST: ### */
div.screencast-video {
  float: right;
  height: auto;
  margin-left: 20px;
  width: 35%;
}

@media (max-width: 500px) {
  div.screencast-video {
    clear: both;
    float: none;
    margin: 0px auto 20px auto;
    width: 80%;
  }
}

div.screencast-video a {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 2;
}

div.screencast-video img {
  width: 100%; }

div.blog-post p.screencast-link {
  clear: both;
  padding: 0px 20px 20px 20px;
  text-align: center;
}
