---
layout: default
title: Blog
description: Blog der AMOOMA GmbH.
group: "navigation"
nav_position: 6
permalink: /blog/
---

<div class="content">
  <div class="divider"></div>
  <h1>Blog</h1>
  <div class="divider"></div>
</div>

<div class="content list">
  {% for post in site.posts %}
    <div class="item article">
      <div class="columns">
        <div class="options">
          <p>{{ post.date | date: "%d.%m.%Y" }}</p>
        </div>

        <div class="column title">
          <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
          <p>{{ post.abstract }}</p>
          <p>Lesezeit: {{ post.content | reading_time }}</p>
        </div>

        <!--
        <div class="column location">
          <p>
            {% for tag in site.posts[0].tags %}
            <a class="tag" href="#">{{ tag }}</a>
            {% endfor %}
          </p>
        </div>
        -->
      </div>
      <div class="clear"></div>
    </div>
  {% endfor %}
</div>
