---
layout: default
title: Blog
description: A Blog with all things web related.
group: "navigation"
permalink: /blog/
---

<div class="content">
  <h1 class="content-head">Blog</h1>

  <div class="posts">
    {% for post in site.posts %}
    <section class="post">
      <header class="post-header">
        <img class="post-avatar" alt="Stefan Wintermeyer&#x27;s avatar" height="48" width="48" src="/images/sw-avatar.jpg">

        <h2 class="post-title">{{ post.title }}</h2>

        <p class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} von <a href="{{post.homepage}}" class="post-author">{{ post.author }}</a>{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}

        {% for tag in post.tags %}
          <a class="post-category post-category-{{ tag }}" href="#">{{ tag }}</a>
        {% endfor %}

        </p>
      </header>

      <div class="post-description">
        {{ post.content }}
      </div>

      <p>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Dieser Blog-Eintrag als einzelne Seite.</a>
      </p>
    </section>

    {% endfor %}
  </div>
</div>
