---
layout: default
short_title: Ember
title: Ember Framework
description: "Consulting und Training für das JavaScript MVC Framework Ember."
group: "navigation"
nav_position: 2
permalink: /ember/
custom_css:
  - bio
  - blog
  - list
---

<div class="content">
  <div class="divider"></div>
  <h1>Ember</h1>
  <div class="divider"></div>

  <div class="column-3-1">
    <p><strong><a href="http://emberjs.com/">Ember</a></strong>
      ist ein quelloffenes clientseitiges JavaScript-Webframework für die Erstellung von Single-Page-Webapplikationen. Was bedeutet das? Für die meisten Firmen bedeutet das die Möglichkeit eine Webapplikation anstatt von einer nativen App für verschiedene Betriebsysteme herzustellen.
    </p>
  </div>

  <div class="column-3-2">
    <p>
      Wir helfen Ihnen gerne bei der Planung und Realisierung eines solchen Projektes. Je nach Projekt-Profil stellen wir Ihnen ein massgeschneidertes Entwickler-Team zur Verfügung. Bei Bedarf auch mit Projektmanagement. Bereits bestehenden Entwickler-Teams unterstützen wir mit gezieltem Know-How.
    </p>
  </div>

  <div class="column-3-3">
    <p>
       Wir bieten Consulting, Training und bei Bedarf 24 x 7 Support. Kein Projekt ist für uns zu klein und nur wenige zu groß.
    </p>
    <p>
      Bitte schreiben Sie uns eine E-Mail mit einer Beschreibung Ihres Projektes und Ihrer Ziele an <a href="mailto:info@amooma.de">info@amooma.de</a>.
    </p>
    <p>
      Consulting bieten wir tageweise laut unserer <a href="/ruby-on-rails/consulting-preisliste.html">Preisliste</a> an.
    </p>
  </div>
</div>

{% include last-2-posts.html tag='Ember' %}

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
    <div class="signature"></div>
  </div>
  <div class="text">
    <p>
      Wer ein eine stabile und schnelle Single-Page Applikation für den Browser erstellen will, kommt um <a href="https://angularjs.org/">Angular</a> und <a href="http://emberjs.com/">Ember</a> nicht drum rum. Die Frage ist nur, für welches der beiden Frameworks man sich entscheidet. Ich habe mich 2013 für Ember entschieden. Damals hauptsächlich, weil ich den beiden Erfindern Tom Dale (<a href="https://twitter.com/tomdale">@tomdale</a>) und Yehuda Katz (<a href="https://twitter.com/wycats">@wycats</a>) vertraut habe. Es war ein Long-Shot, den ich nie bereut habe.
    </p>
    <p>
      Gerade Yehuda ist ein Visionär, der aber auch das Programmier-Know-How besitzt gute Ideen umzusetzen. Er ist nicht nur im Ember Core-Team, sondern auch im jQuery Core-Team (früher auch im Ruby on Rails Core-Team).
    </p>
    <p>
      Kontaktieren Sie mir bitte direkt per E-Mail an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a> wenn Sie ein Projekt mit Ember umsetzen möchten und Hilfe benötigen.
    </p>
  </div>
</div>

{% include talks.html tag='Ember' title='Vorträge zum Thema Ember' %}

{% include books.html tag='Ember' title='Bücher zum Thema Ember' %}

{% include articles.html tag='Ember' title='Artikel in Fachzeitschriften zum Thema Ember' %}
