---
layout: default
short_title: Rails
title: Ruby on Rails Consulting, Support und Training von Stefan Wintermeyer
description: Consulting und Training für das MVC Framework Ruby on Rails.
excerpt: "Vor Ort und Remote-Unterstützung bei neuen und bestehenden Projekten. Unsere Spezialitäten: Performance-Optimierung, Feuerwehreinsätze und Upgrades."
group: "navigation"
nav_position: 1
permalink: /ruby-on-rails/
custom_css:
  - bio
  - blog
  - list
---

<div class="content">
  <div class="divider"></div>
  <h1>Ruby on Rails</h1>
  <div class="divider"></div>

  <div class="column-3-1">
    <p><strong>Ruby on Rails</strong>
      ist ein populäres und quelloffenes Web Application Framework. Es wird für große Webseiten wie <a href="http://www.xing.com">XING</a>, <a href="http://www.shopify.com/">shopify</a>, <a href="https://www.airbnb.de/">airbnb</a> und <a href="https://github.com/">GitHub</a> eingesetzt.
    </p>
    <p>Für <strong>existierende Projekte</strong> helfen wir Ihnen bei Erweiterungen und Verbesserung (Performance, Skalierung, Refactoring und Know-How-Transfer).</p>

  </div>

  <div class="column-3-2">

    <p>
      Das <strong>Bootstrapping</strong> von neuen Projekten ist natürlich der optimale Startpunkt für performante Webapplikationen. Wir helfen Ihnen bei der Planung, Strukturierung und Umsetzung. Mit <a href="/webperformance/">WebPerformance</a> und HA-Know-How stellen wir sicher, dass Ihre Webseite schnell und störungsfrei ausgeliefert wird.
    </p>
  </div>

  <div class="column-3-3">
    <p>
      Wir bieten seit über 8 Jahren Consulting (<a href="consulting-preisliste.html">Preisliste</a>), Training und 24 x 7 Support für Rails an.
    </p>
    <p>
      Bitte schreiben Sie uns eine E-Mail mit einer Beschreibung Ihres Projektes und Ihrer Ziele an <a href="mailto:info@amooma.de">info@amooma.de</a>.
    </p>
    <p><br/></p>
    <p>Noch Fragen? Schauen Sie einmal in unsere <a href="faq.html">Ruby on Rails FAQ</a>.
  </div>
</div>

{% include last-2-posts.html tag='Rails' %}

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
  </div>
  <div class="text">
    <p>
      Ruby on Rails ist ein tolles Framework für die Erstellung von Webapplikationen, die auf dem Server gerendert werden. Es ist sauber und übersichtlich. Man kann sehr schnell entwickeln und findet sich auch in altem und evt. fremden Code gut zurecht. Ruby ist eine Programmiersprache, die zudem einfach Spaß macht.
    </p>
    <p>
      Die initiale Lernkurve ist aber steil. Ich biete deshalb  <strong>Anfänger-Trainings für Entwickler</strong> an. Bei Bedarf erstelle ich auch gerne ein Customized-Training für die Bedürfnisse Ihrer Entwickler.
    </p>
    <p>
      Wir bieten Consulting und Support an. Je nach Projekt-Profil stellen wir Ihnen auch gerne ein massgeschneidertes Entwickler-Team zur Verfügung. Bitte kontaktieren Sie mich direkt per E-Mail (<a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>), wenn Sie ein Angebot benötigen oder Fragen zu einem Ruby on Rails Projekt haben.
    </p>
  </div>
</div>

{% include trainings.html tag='Rails' title='Schulungen' %}

{% include talks.html tag='Rails' title='Vorträge' %}

{% include books.html tag='Rails' title='Bücher' %}

{% include articles.html tag='Rails' title='Artikel in Fachzeitschriften' %}
