---
layout: default
short_title: Rails
title: Ruby on Rails
description: Consulting und Training für das MVC Framework Ruby on Rails.
excerpt: "Ruby on Rails Consulting und Training von Stefan Wintermeyer (AMOOMA GmbH). Autor des best verkauften deutschen Ruby on Rails Buches."
group: "navigation"
nav_position: 1
permalink: /ruby-on-rails/
custom_css:
  - bio
  - blog
  - list
---

<div class="content">
  <div class="divider"></div>
  <h1>Ruby on Rails</h1>
  <div class="divider"></div>

  <div class="column-3-1">
    <p><strong>Ruby on Rails</strong>
      ist ein in der objektorientierten Programmiersprache <a href="https://www.ruby-lang.org">Ruby</a> geschriebenes, quelloffenes Web Application Framework. Es wird von großen Firmen wie <a href="http://www.xing.com">XING</a>, <a href="http://www.shopify.com/">shopify</a>, <a href="https://www.airbnb.de/">airbnb</a> und <a href="https://github.com/">GitHub</a> eingesetzt.
    </p>
    <p>
      Die Lernkurve ist initial sehr steil. Wir bieten deshalb  <strong>Anfänger-Trainings für Entwickler</strong> an.
    </p>
    <p>
      Rails-Entwickler können durch die Anwendung der "don't repeat yourself" (DRY) und "Convention Over Configuration"-Prinzpien sehr schnell und sauber entwickeln.
    </p>
  </div>

  <div class="column-3-2">
    <p>Für <strong>existierende Ruby on Rails Projekte</strong> bieten wir Notfall-Support sowie Consulting für Erweiterungen und Verbesserung an. Unsere Kernkompetenz liegt bei den Themen Performance, Skalierung und Refactoring.</p>
    <p>
      Das <strong>Bootstrapping</strong> von neuen Projekten ist dabei der optimale Startpunkt für performante Webapplikationen. Wir helfen Ihnen bei der Planung, Strukturierung und Umsetzung. Mit <a href="/webperformance/">WebPerformance</a> und HA-Know-How stellen wir sicher, dass Ihre Webseite schnell und störungsfrei ausgeliefert wird.
    </p>
  </div>

  <div class="column-3-3">
    <p>
      Je nach Projekt-Profil stellen wir Ihnen ein massgeschneidertes Entwickler-Team zur Verfügung; bei Bedarf auch mit Projektmanagement. Bereits bestehende Entwickler-Teams unterstützen wir mit gezieltem Know-How-Transfer. Wir bieten Consulting (<a href="consulting-preisliste.html">Preisliste</a>) und 24 x 7 Support. Kein Projekt ist für uns zu klein und nur wenige zu groß.
    </p>
    <p>
      Bitte schreiben Sie uns eine E-Mail mit einer Beschreibung Ihres Projektes und Ihrer Ziele an <a href="mailto:info@amooma.de">info@amooma.de</a>.
    </p>
    <p>Noch Fragen? Schauen Sie einmal in die <a href="faq.html">FAQ</a>.
  </div>
</div>

{% include last-2-posts.html tag='Rails' %}

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
    <div class="signature"></div>
  </div>
  <div class="text">
    <p>
      Ruby on Rails ist mein Lieblingsframework für die Erstellung von klassischen Webapplikationen, die auf dem Server gerendert werden. Es ist sauber und übersichtlich. Man kann sehr schnell entwickeln und findet sich auch im alten Code gut zurecht. Ruby ist eine Programmiersprache, die zudem einfach Spaß macht.
    </p>
    <p>
      Wir bieten Consulting und Training zu Ruby on Rails an. Bitte kontaktieren Sie mir direkt per E-Mail (<a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>), wenn Sie ein Angebot benötigen oder Fragen zu einem Ruby on Rails Projekt haben.
    </p>
  </div>
</div>

{% include talks.html tag='Rails' title='Vorträge zum Thema Rails' %}

{% include books.html tag='Rails' title='Bücher zum Thema Rails' %}

{% include articles.html tag='Rails' title='Artikel in Fachzeitschriften zum Thema Rails' %}
