<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="//amooma.de">
  <link rel="prefetch" href="http://amooma.de/">
  <link rel="prefetch" href="http://amooma.de/webperformance/">
  {% include head.html %}
  <style>
  {% include css/pure-min.css %}
  {% include css/grids-responsive-min.css %}
  {% include css/main.css %}
  {% include css/sprites.css %}
  {% include css/blog.css %}
  </style>
  {% include google_tracking_code.html %}
</head>

  <body>
    {% include svg_icons.html %}
    {% include navbar.html %}

    <div class="content-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
