<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
  <link rel="preconnect" href="//amooma.de">
  <link rel="prefetch" href="http://amooma.de/">
  <link rel="prefetch" href="http://amooma.de/webperformance/">
  {% include head.html %}
  <link rel="icon" type="image/png" href="/favicon.png">
  <style>
  {% include css/pure-min.css %}
  {% include css/grids-responsive-min.css %}
  {% include css/main.css %}
  {% include css/sprites.css %}
  {% include css/blog.css %}
  </style>
</head>

  <body>
    {% include google_tag_manager_code.html %}
    {% include svg_icons.html %}
    {% include navbar.html %}

    <div class="content-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
