---
layout: default
---
<div class="content blog-post">
  <div class="divider"></div>
  <h1>{{ page.title }}</h1>
  <div class="divider"></div>

  <p class="meta">{{ page.date | date: "%d.%m.%Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} &mdash; {{ page.meta }}{% endif %}</p>

  {{ content }}

  <div class="tags">
    {% for tag in site.posts[0].tags %}
    <a class="tag" href="#">{{ tag }}</a>
    {% endfor %}
  </div>
</div>

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@wintermeyer" />
<meta name="twitter:title" content="{{ page.title | xml_escape }}" />
<meta name="twitter:description" content="{{ page.abstract | xml_escape }}" />
<meta name="twitter:url" content="http://www.amooma.de{{ page.url }}" />
