---
layout: default
---
<div class="content blog-post">
  <div class="divider"></div>
  <h1>{{ page.title }}</h1>
  <div class="divider"></div>

  <p class="meta">{{ page.date | date: "%d.%m.%Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} &mdash; {{ page.meta }}{% endif %}</p>

  {% if page.youtube_video_id %}

  <p class="screencast-link"><a href="https://www.youtube.com/watch?v={{ page.youtube_video_id }}">Watch the video of this screencast on YouTube ({{ page.video_length }}).</a></p>

  <div class="screencast-video">

    <a href="https://www.youtube.com/watch?v={{ page.youtube_video_id }}"><img src="http://img.youtube.com/vi/{{ page.youtube_video_id }}/mqdefault.jpg" alt="Thumbnail of the video." /></a>

  </div>

  {% endif %}

  {{ content }}

  <div class="tags">
    {% for tag in page.tags %}
    <a class="tag" href="#">{{ tag }}</a>
    {% endfor %}
  </div>
</div>

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@wintermeyer" />
<meta name="twitter:title" content="{{ page.title | xml_escape }}{% if page.video_length %} ({{ page.video_length }}){% endif %}" />
<meta name="twitter:description" content="{{ page.abstract | xml_escape }}" />
<meta name="twitter:image" content="http://img.youtube.com/vi/{{ page.youtube_video_id }}/mqdefault.jpg" />
<meta name="twitter:url" content="http://www.amooma.de{{ page.url }}" />
