---
layout: default
---
<div class="content blog-post">
  <div class="divider"></div>
  <h1>{{ page.title }}</h1>
  <div class="divider"></div>

  <p class="meta">{{ page.date | date: "%d.%m.%Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} &mdash; {{ page.meta }}{% endif %}</p>

  <p>
{% if page.youtube_video_id %}
  <a href="https://www.youtube.com/watch?v={{ page.youtube_video_id }}">Watch the video of this screencast on YouTube ({{ page.video_length }}).</a>
{% endif %}
  </p>

  {{ content }}

  <div class="tags">
    {% for tag in site.posts[0].tags %}
    <a class="tag" href="#">{{ tag }}</a>
    {% endfor %}
  </div>
</div>
