---
layout: default
short_title: Analytics
title: Google Analytics
description: Consulting und Training für Google Analytics und Google Tag Manager.
excerpt: "Consulting und Training für Google Analytics und Google Tag Manager."
permalink: /google-analytics/
custom_css:
  - bio
  - blog
  - list
---

<div class="content">
  <div class="divider"></div>
  <h1>Google Analytics, Tag Manager und Experiments</h1>
  <div class="divider"></div>
</div>

{% include last-2-posts.html tag='GA' %}

<div class="content bio">
  <div class="stefan">
    <div class="photo"></div>
    <div class="signature"></div>
  </div>
  <div class="text">
    <p>
      Wir benutzen Google Analytics und den Google Tag Manger in jedem neuen Projekt. Leider viel zu wenig setzen wir Google Experiments zum Analysieren verschiedener Varianten eines Features oder einer Webseite ein.
    </p>
    <p>
      Haben Sie eine Frage oder Anregung? Dann kontaktieren Sie mir bitte direkt per E-Mail an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>.
    </p>
  </div>
</div>

{% include talks.html tag='GA' title='Vorträge zum Thema Google Analytics' %}

{% include books.html tag='GA' title='Bücher zum Thema Google Analytics' %}

{% include articles.html tag='GA' title='Artikel in Fachzeitschriften zum Thema Google Analytics' %}
