---
layout: default
title: Ember
description: Die AMOOMA GmbH bietet Ember.js Consulting und Training an.
group: "navigation"
permalink: /emberjs/
---

<div class="content">
  <h2 class="content-head is-center">Ember.js</h2>

  <div class="pure-g">
    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
      <h3 class="content-subhead">
        Consulting
      </h3>
      <p>
        Wir bieten Ihnen Hilfe beim Bootstraping von neuen Ember.js-Projekten und auch bei der Erweiterung oder Optimierung von existierenden Projekten.
      </p>
      <p>
        Wir sind Allrounder, aber natürlich gibt es ein paar Themen, in denen wir sehr viel besser sind als andere Consulting-Anbieter:
      </p>
      <ul>
        <li>Caching</li>
        <li>Geschwindigkeits-Optimierung im gesamten Stack</li>
        <li>Automatisches Deployment</li>
        <li>Webperformance-Optimierung</li>
        <li>Ember.js Frontends mit Rails-Backends</li>
      </ul>

      <h3 class="content-subhead">
        Preise
      </h3>
      {% include consulting_preisliste/table_header.html %}
      {% include consulting_preisliste/default_content.html %}
      {% include consulting_preisliste/table_footer.html %}

      <h3 class="content-subhead">
        Veröffentlichungen
      </h3>
      <p>
        AMOOMA-Geschäftsführer Stefan Wintermeyer hat zu Ember.js folgende Artikel geschriebene:
      </p>

      <table class='pure-table pure-table-striped'>
        <thead>
          <tr>
            <th>Zeitschrift</th>
            <th>Artikel</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://www.heise.de/ix/">iX</a></td>
            <td>
              Glühfaktor
              <br>
              Ember: JavaScript-Framework für Webanwendungen
              <br />
              <a href="https://www.heise.de/artikel-archiv/ix/2013/08/130_Gluehfaktor">PDF des Artikels</a>
            </td>
          </tr>
          <tr>
            <td><a href="http://shop.heise.de/katalog/ix-developer-javascript-heute-2014">iX Developer JavaScript heute 1/2014</a></td>
            <td>
              Nachglühen
              <br />
              Ember.js 1.1 im Einsatz
              <br />
              <a href="http://www.heise.de/developer/artikel/Ember-js-1-1-im-Einsatz-2053975.html">HTML-Version des Artikels</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
      <h3 class="content-subhead">
        Training
      </h3>
      <p>
        Stefan Wintermeyer: <em>"Die Sache mit dem Ember.js Training ist nicht einfach. Das fängt schon mit den kurzen Release-Zyklen der Software an. Es ist unwirtschaftlich alle 6-8 Wochen neue Schulungsunterlagen zu erstellen. In den USA wurde 2013 die ersten Schulungen von den Ember.js-Erfindern Tom Dale und Yehuda Katz angeboten.</em>
      </p>
      <img class="pure-img-responsive" alt="Stefan Wintermeyer"  src="/images/tom_dale_und_yehuda_katz.jpg"  alt="Tom Tale und Yehuda Katz beim Ember.js Training in Boston 2013."/>
      <p><em>
        Ich habe an dieser Schulung in Boston teilgenommen und war von den Schulungsunterlagen enttäuscht. Das Gleiche gilt für die Schulungen anderer Code-Team Entwickler. Zumindest für Anfänger sind diese Schulungen völlig ungeeignet. In 2014 hat <a href="https://www.codeschool.com/">CodeSchool</a> eine Online-Schulung veröffentlicht. Nicht 100%ig fehlerfrei, aber mit Abstand das Beste, das es aktuell gibt. Auch wenn das Schulungsmaterial nur in englischer Sprache zur Verfügung steht, habe ich mich dafür entschieden und mit CodeSchool die Vereinbarung getroffen, das wir es verwenden dürfen."</em>
      </p>
      <p>
        Gerne bieten wir ein maßgeschneidertes Training für Ihr Entwicklerteam an. Durch die Kombination von Online- und Onsite-Training können wir günstige und gleichzeitig intensive Schulungen anbieten. Jeder Teilnehmer bekommt einen 1-Monats-Account bei CodeSchool und kann in dieser Zeit auch nach der Schulung noch auf alle Aufgaben zugreifen.
      </p>
      <p>
        Bitte schreiben Sie uns eine E-Mail an: <a href="mailto:info@amooma.de">info@amooma.de</a> mit Ihren Zielen und einer Beschreibung der Programmier-Vorkenntnisse. Wir antworten Ihnen dann kurzfristig mit einem an Ihre Bedürfnisse angepassten Schulungskonzept und einem Preis.
      </p>
    </div>

    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
      <h3 class="content-subhead">
        Vorträge
      </h3>
      <p>
        Wenn Sie für Ihre Veranstaltung einen Vortrag zum Thema Ember.js oder Webapplikationen benötigen, so schreiben Sie bitte eine E-Mail mit der Vorstellung Ihrer Veranstaltung und dem gewünschten Thema an <a href="mailto:stefan.wintermeyer@amooma.de">stefan.wintermeyer@amooma.de</a>.
      </p>

      <table class='pure-table pure-table-striped'>
        <thead>
          <tr>
            <th>Konferenz</th>
            <th colspan='2'>Zusatzmaterial</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://www.linuxtag.org/">LinuxTag</a></td>
            <td><a href="https://speakerdeck.com/wintermeyer/linuxtag-2013-ember-dot-js">Folien</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="http://www.froscon.de/">FrOSCon</a></td>
            <td><a href="https://speakerdeck.com/wintermeyer/ember-dot-js-at-froscon-2013">Folien</a></td>
            <td>
              <a href="http://media.ccc.de/browse/conferences/froscon/2013/hs3_-_2013-08-25_14:00_-_ember_js_-_stefan_wintermeyer_-_1149.html">Video</a>
            </td>
          </tr>
        </tbody>
      </table>

      <h3 class="content-subhead">
        Blog
      </h3>
      <p>
      In diesem Bereich veröffentlichen wir in Zukunft unsere Blog-Einträge zum Thema Ember.js und JavaScript.
      </p>
    </div>
  </div>
</div>
